@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-align: center;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

	
div {
	font-weight: bold;
	font-size: 1rem;
	
}

h3 {
	margin: 1rem 0 0rem 2rem;
}

#nav, #allucs, #docents, #semana {
	padding-left: 1rem;
	width: 100%;
	display: flex;
	overflow: auto;
}

.filter, .uc, .prof, .dia {
	color: #666;
}

.filter:hover, .uc:hover, .prof:hover, .dia:hover {
	cursor: pointer;
	border-color: #215a36;
	color: #215a36;
}


#nav {
	border-bottom: 1px solid #ccc;
}

#searchbox {
	background-image:
	linear-gradient(to right bottom, #215a36, #196448, #0e6d5a, #01776d, #008080);
	margin: 1rem 1.3rem 0 1.3rem;
	border-radius: .4rem;
	font-size: 1rem;
	padding: 1rem;
	color: #fff;
}

#searchbox i {
	color: #fff;
	padding: 0 .6rem;
}

.filter {
	margin: 1rem 5vw;
}

.uc {
	border: 1px solid #ccc;
	margin: 1rem 1.5vw;
	padding: 3rem 8rem;
	border-radius: .4rem;
}

.prof {
	border: 1px solid #ccc;
	margin: 1rem 1.5vw;
	padding: 2rem 2rem;
	border-radius: 1rem;
}


.dia {
	border: 1px solid #ccc;
	margin: 1rem 1.5vw;
	padding: 1.5rem 4rem;
	border-radius: .4rem;
}
