<title>
	{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="{{ site.url }}/public/image/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="{{ site.url }}/public/css/style.css">
<link rel="stylesheet" href="{{ site.url }}/public/css/bootstrap.min.css">
<script type="text/javascript" src="{{ site.url }}/public/js/myFunction.js"></script>
<script src="https://kit.fontawesome.com/e039c48840.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>